{% extends "site_base.html" %}

{% load staticfiles %}
{% load bootstrap %}
{% load thumbnail %}

{% block head_title %}Manage {{ team.name }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "select2/select2.css" %}" />
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% if team.avatar %}
                <img class="img-polaroid avatar hidden-phone" src="{% thumbnail team.avatar 160x160 crop %}" alt="{{ team.name }}">
            {% endif %}

            <h2>{{ team.name }}</h2>
            {% if team.description %}<p>{{ team.description }}</p>{% endif %}
        </div>
        <div class="col-md-8">
            {% if user.is_staff or role == "manager" or role == "owner" %}
                {% if team.managers %}
                    <h2>Managers</h2>
                    <table class="table table-striped">
                        {% for membership in team.managers %}
                            <tr>
                                <td>{{ membership.user.email }}{% if user == membership.user %} <span class="label label-info">you</span>{% endif %}</td>
                                <td>
                                    <form style="margin: 0 5px;" method="post" action="{% url 'team_demote' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-danger btn-xs">demote</button></form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if team.members %}
                    <h2>Team Members</h2>
                    <table class="table table-striped">
                        {% for membership in team.members %}
                            <tr>
                                <td>{{ membership.user.email }}{% if user == membership.user %} <span class="label label-info">you</span>{% endif %}</td>
                                <td>
                                    <form style="margin: 0 5px;" method="post" action="{% url 'team_promote' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-success btn-xs">promote</button></form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if team.applicants and team.member_access == "application" %}
                    <h2>Applicants</h2>
                    <table class="table table-striped">
                        {% for membership in team.applicants %}
                            <tr>
                                <td>{{ membership.user.email }}</td>
                                <td>
                                    <form style="margin: 0 5px; float: left;" method="post" action="{% url 'team_accept' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-success btn-xs">accept</button></form>
                                    <form style="margin: 0 5px; float: left;" method="post" action="{% url 'team_reject' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-danger btn-xs">reject</button></form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if team.invitees %}
                    <h2>Invitees</h2>
                    <table class="table table-striped">
                        {% for membership in team.invitees %}
                            <tr>
                                <td>{{ membership.user.email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if invite_form %}
                    {% include "teams/_invite_form.html" %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}



{% block extra_body %}
    {{ block.super }}
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
    <script src="{% static "select2/select2.min.js" %}"></script>
    <script>
    var loadSelect2 = function (e) {
        $("[data-autocomplete-url]").each(function(i, e) {
            var $el = $(e);
            $el.select2({
                ajax: {
                    url: $el.data("autocomplete-url"),
                    dataType: "json",
                    type: "GET",
                    data: function (term, page) {
                        return {query: term};
                    },
                    results: function (data, page) {
                        return {results: data};
                    }
                },
                id: function (obj) {
                   return obj.email;
                },
                formatSelection: function (obj) {
                    if (obj.pk < 0) {
                        return obj.email;
                    }
                    return obj.email;
                },
                formatResult: function (obj) {
                    if (obj.pk < 0) {
                        return "<div class='result new'>" + obj.email + "</div>";
                    }
                    return "<div class='result clearfix'>" + obj.name + "&lt;" + obj.email + "&gt;</div>";
                },
                minimumInputLength: 1,
                width: "element",
                createSearchChoice: function (term, data) {
                    if ($(data).filter(function() {return this.email === term;}).length===0) {
                        return { pk:-1, email: term };
                    }
                }
            });
        })
    };
    (function ($) {
        loadSelect2();
    }(window.jQuery));
    </script>
{% endblock %}
