{% extends "site_base.html" %}

{% block body %}
    <h1><a href="{% url 'wiki_page' slug=page.team.slug page_slug=page.slug %}">{{ page.slug }}</a></h1>

    <div class="page">
        {{ revision.content_html }}
    </div>

    <div class="info">
        <span>
            <strong>{{ page.slug }}</strong>
        </span>
        <span>
            Recently modified by <em>{{ page.revisions.latest.creator }}</em>: {{ revision.modified }}
        </span>

        <span>
            <a href="{% url 'wiki_edit' slug=page.team.slug page_slug=page.slug %}">Edit</a>
        </span>
    </div>
{% endblock %}
